GEOTRAVELS_APP_NAME=geotravels
GEOTRAVELS_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:54441/postgres
GEOTRAVELS_JWT_SECRET=change-me-in-prod
GEOTRAVELS_JWT_ALGORITHM=HS256
GEOTRAVELS_ACCESS_TOKEN_TTL_MINUTES=15
GEOTRAVELS_REFRESH_TOKEN_TTL_DAYS=30
GEOTRAVELS_YANDEX_CLIENT_ID=
GEOTRAVELS_YANDEX_CLIENT_SECRET=
GEOTRAVELS_YANDEX_OAUTH_TOKEN_URL=https://oauth.yandex.ru/token
GEOTRAVELS_YANDEX_USER_INFO_URL=https://login.yandex.ru/info
GEOTRAVELS_YANDEX_AUTH_TIMEOUT_SECONDS=5.0
GEOTRAVELS_COUNTRIES_GEOJSON_PATH=data/countries.geojson
GEOTRAVELS_CORS_ALLOWED_ORIGINS="*"
GEOTRAVELS_GEONAMES_USERNAME=
GEOTRAVELS_GEONAMES_BASE_URL=https://api.geonames.org
GEOTRAVELS_GEONAMES_TIMEOUT_SECONDS=5.0
GEOTRAVELS_GEOAPIFY_BASE_URL=https://api.geoapify.com
GEOTRAVELS_GEOAPIFY_API_KEY=
GEOTRAVELS_GEOAPIFY_TIMEOUT_SECONDS=5.0
GEOTRAVELS_DEEPSEEK_BASE_URL=https://api.deepseek.com
GEOTRAVELS_DEEPSEEK_API_KEY=
GEOTRAVELS_DEEPSEEK_TIMEOUT_SECONDS=30.0
GEOTRAVELS_DB_POOL_MIN_SIZE=5
GEOTRAVELS_DB_POOL_MAX_SIZE=20
GEOTRAVELS_S3_ENDPOINT_URL=http://localhost:9000
GEOTRAVELS_S3_ACCESS_KEY_ID=minioadmin
GEOTRAVELS_S3_SECRET_ACCESS_KEY=minioadmin
GEOTRAVELS_S3_BUCKET_NAME=user-bucket
GEOTRAVELS_S3_REGION_NAME=us-east-1
GEOTRAVELS_S3_USE_SSL=false
GEOTRAVELS_IMGPROXY_BASE_URL=http://localhost:8080
GEOTRAVELS_IMGPROXY_KEY=736563726574
GEOTRAVELS_IMGPROXY_SALT=68656c6c6f
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

#LOG
GEOTRAVELS_LOG_LEVEL=DEBUG
GEOTRAVELS_SENTRY_DSN=
GEOTRAVELS_SENTRY_ENABLE=false
GEOTRAVELS_SENTRY_TRACES_SAMPLE_RATE=1.0
GEOTRAVELS_SENTRY_SEND_DEFAULT_PII=false
GEOTRAVELS_SENTRY_ATTACH_STACKTRACE=false
